html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 200px;
    background: #abeafa;
    float: left;
    background-size: cover;
}
.HeaderInside {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.registration {
    width: 100%;
    height: 50px;
    background: #373737;
    float: left;
}
.RegistrationBar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-right: 10px;
}
.reg {
    background: grey;
    height: 30px;
    width: auto;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 10px;
}
.reg a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 5px 5px 5px 5px;

}
.header_menu {
    width: 100%;
    height: 150px;
    float: left;
    display: flex;
}
.header_menu_list {
    list-style-type: none;
    margin: auto;
    padding: 0;
}
.header_menu_list li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
    background: cadetblue;
    border-radius: 10px;
}
.header_menu_list li a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 5px 5px 5px 5px;
    font-size: 30px;
    font-family: Ultra, sans-serif;
}
.main {
    width: 100%;
    min-height: 830px;
    float: left;
}
.MainInside {
    width: 1170px;
    margin: 0 auto;
}
.page_title {
    float: left;
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 30px;
    font-family: Ultra, sans-serif;
}
.page_title h1 {
    margin: auto;
}
.categories_list {
    margin-top: 100px;
    float: left;
    width: 100%;
}
.category_title {
    display: flex;
    margin-top: 10px;
}
.category_title p {
    margin: auto;
    font-size: 25px;
    font-family: Ultra, sans-serif;

}
.subcategory_list {
    list-style-type: none;
}
.subcategory_list li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    color: #5e5e5e;
}
.look_all {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    border-top: 2px solid red;
}
.look_all a {
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #5e5e5e;
}
.product {
    width: 30%;
    float: left;
    margin-right: 5%;
    height: 300px;
    margin-bottom: 20px;
    background: #c3c3c3;
    box-shadow: 8px 11px 12px 0 #000000
}
.product:nth-child(3n) {
    margin-right: 0;
}
.product_list {
    margin-top: 100px;
    float: left;
    width: 100%;
}
.product_title {
    display: flex;
    width: 100%;
    height: 30px;
    float: left;
    top: 0;
}
.product_title p {
    margin: auto;
    font-family: Ultra, sans-serif;
}
.image {
    width: 100%;
    height: 270px;
    float: left;
}
.image a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image img {
    height: 100%;
}
.category {
    position: relative;
    width: 30%;
    float: left;
    margin-right: 5%;
    height: 300px;
    margin-bottom: 20px;
    background: #c3c3c3;
    box-shadow: 8px 11px 12px 0 #000000
}
.category:nth-child(3n) {
    margin-right: 0;
}
.product_image {
    width: 100%;
    height: 500px;
    float: left;
    display: flex;
    margin-top: 100px;
    overflow: hidden;
}
.product_image img {
    margin: auto;
    height: 100%;
    width: auto;
}
.product_description {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.inline_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.inline_list li {
    width: 48.5%;
    margin-right: 30px;
    height: 70px;
    display: inline-block;
}
.inline_list li:nth-child(2n) {
    margin-right: 0;
}
.lab_left {
    background: #f4f4f4;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.lab_right {
    width: 50%;
    height: 100%;
    float: right;
    background: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.page_text {
    margin-top: 100px;
    float: left;
    width: 100%;
}
.red {
    color: red;
}
.green {
    color: green;
}
.contacts {
    font-family: Ultra, sans-serif;
    margin-top: 100px;
    float: left;
    width: 100%;
    line-height: 30px;
}
.footer {
    width: 100%;
    height: 350px;
    background: #373737;
    float: left;
    color: #fff;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 12px;
}
.FooterInside {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.copyright {
    position: absolute;
    width: 100%;
    height: 50px;
    float: left;
    bottom: 0;
    font-size: 15px;
    background: #5e5e5e;
}
.copyright p {
    vertical-align: middle;
    margin-left: 20px;
}


@font-face {
    font-family: "Ultra";
    src: url("fonts/16685.otf")
}