{% extends 'JoyShopDjango/master.html' %}
{% block page_content %}
<div class="main">
    <div class="MainInside">
        <div class="page_title"><h1>Контакты</h1></div>
        <div class="contacts">
            График работы.
            <br>
            <span class="green">Пн - Пт - </span><span class="red">10:00 - 18:00</span>
            <br>
            <span class="green">Сб - Вс - </span><span class="red">выходной</span>
            <br>
            Тел.(812) 931-71-82
            <br>
            электронная почта <span class="green">info@igrushka-spb.ru</span>
            <br>
            Адрес офиса интернет магазина : ул.Кораблестроителей д.32 к.3
        </div>
    </div>
</div>
{% endblock %}