{% extends 'JoyShopDjango/master.html' %}
{% block page_content %}
<div class="main">
    <div class="MainInside">
        <div class="page_title"><h1>Как купить</h1></div>
        <div class="page_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id magnam maiores saepe?
            Blanditiis consectetur, ullam! Alias aspernatur autem blanditiis, dolorem doloremque earum et harum incidunt
            ipsam laboriosam nam nihil numquam officiis porro praesentium, similique unde vel! Accusamus ad alias, autem
            cumque dignissimos dolorem dolorum ea earum eos exercitationem illum ipsam iusto molestias nobis obcaecati
            officia provident, saepe sint tempore veniam. Exercitationem nostrum tempore velit voluptatibus? Animi atque
            consequuntur corporis dignissimos eos et ex, ipsa magnam magni neque omnis pariatur quidem reiciendis
            veritatis vero voluptate voluptatibus. Aspernatur dignissimos odio reiciendis soluta voluptatem. At cum
            cupiditate doloremque, dolores laudantium magni molestias necessitatibus nesciunt, nihil nulla officia quae,
            qui quo rem repellat. Assumenda dolor doloremque et eveniet ipsam nam non perferendis repudiandae sit! Harum
            in maiores nulla omnis voluptas? Animi culpa, cumque dolorem earum eos ex expedita fuga, harum illo iure
            molestias omnis quasi quidem quisquam ratione sit vitae! Accusamus alias aliquam culpa cupiditate error
            expedita itaque nobis similique? Ad amet assumenda atque earum quo. Aspernatur consequatur deserunt ea fugit
            ipsam molestiae nostrum omnis sequi totam ullam. Culpa doloremque est laboriosam numquam repellendus saepe
            ut voluptatem! A ad asperiores, aut cupiditate debitis, deleniti distinctio ducimus ea, excepturi
            exercitationem fugit harum itaque iure laudantium nam neque non nostrum nulla numquam officiis porro quae
            reiciendis sequi tenetur unde voluptas voluptatibus. Adipisci alias aut, corporis cum dignissimos distinctio
            doloremque earum eligendi ex fuga labore laudantium nesciunt nulla, quae quidem quisquam saepe sequi ut
            vero, voluptas. Ab aperiam, ipsam iusto magnam, modi obcaecati quam quibusdam reprehenderit sapiente,
            tempora totam voluptate voluptatem. A adipisci alias aliquam assumenda blanditiis cum cumque dicta doloribus
            eligendi enim ex, facere fugit illum incidunt ipsum iusto labore magni maxime neque obcaecati officiis
            pariatur quaerat, quidem reiciendis repudiandae rerum sapiente suscipit tempora, ut vel! Illo, ipsum velit!
            A accusantium autem, corporis culpa delectus dolores eaque esse exercitationem explicabo harum hic illum
            inventore maiores, nemo nisi porro qui quis repellendus repudiandae, similique tempora vitae voluptatem
            voluptatum. A ad amet animi architecto asperiores atque blanditiis consequuntur corporis deleniti deserunt
            doloremque, dolores ducimus eaque et id impedit inventore laboriosam laudantium libero magni maxime mollitia
            necessitatibus nihil numquam porro quaerat quis saepe tempora veritatis voluptatem. Distinctio earum eum
            neque nulla? A accusamus accusantium consequatur delectus deserunt eos ipsa magnam nam nisi perferendis
            perspiciatis, sapiente! Aut consequuntur dolores fuga illo incidunt ipsa necessitatibus numquam odio
            sapiente totam ut veritatis, vitae voluptates? Commodi consectetur culpa cum ea earum est eveniet excepturi
            exercitationem harum hic ipsam natus neque numquam odit officiis placeat praesentium quia quos, rerum
            similique sint tempore totam velit voluptatibus voluptatum? Consequatur cupiditate ea facere impedit ipsam,
            laboriosam non ut! Adipisci, amet asperiores consectetur esse id laborum necessitatibus perferendis quae
            quia rem repellat rerum veniam? A ad asperiores consequuntur eum excepturi fuga fugiat laboriosam quidem
            quos ratione saepe, ut! Alias asperiores autem beatae consequuntur debitis dolor dolorem ea eos est ex fugit
            hic labore laudantium libero natus, nesciunt nulla numquam odio quae recusandae repellat sed suscipit ullam
            vero voluptas voluptatem voluptatum. Dolorum iste libero mollitia non similique, ut!
        </div>
    </div>
</div>
{% endblock %}